{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <!-- {% include "./partiel/header.html" %} -->
     <header>
        <div class="container-lg flex">
            {%block navBar %}
            <ul  class="flex-row gap-4">
                    <li><a href="/login/">login</a></li>
                    <li><a href="/register/">register</a></li>
            </ul>
            {% endblock %}
        </div>
    </header>
     
    {%block content%}
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>