{% extends "../../../base.html" %}

{% block title %}
Liste Favoris
{% endblock %}

{% block content %}
<h1 class="text-center">
    Favoris of {{request.user.username}}
</h1>
<table border="1px" class="container my-4 table table-sm align-middle">
    <thead class="table-dark">
        <tr>
            <td>Name</td>
            <td>Path</td>
            <td>Created at</td>
            <td>Edit</td>
            <td>Supprimer</td>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        {% for fav in favoris %}
        <tr>
            <td>{{ fav.name }}</td>
            <td>{{ fav.path }}</td>
            <td>{{ fav.added_at }}</td>
            <td><a href="{% url 'edit_favoris' fav.id %}" class="btn btn-outline-primary">Edit</a></td>
            <td>
                <form method="POST" action="{% url 'supprimer_favoris' fav.id %}">
                    {% csrf_token %}
                <button 
                    type="button" 
                    class="btn btn-danger"
                    data-favoris-name="{{ fav.name }}" 
                    data-fav-id="{{ fav.id }}" 
                    data-bs-toggle="modal" 
                    data-bs-target="#confirmModal" 
                    data-url="{% url 'supprimer_favoris' fav.id %}"
                    onclick="showConfirmModal(this)">supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous confirmer suppression de la favoris <span id="favoris-name"></span> ?
            </div>
            <div class="modal-footer">
                <form method="POST" id="favorisForm">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const confirmModal = document.getElementById('confirmModal');
        confirmModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; // Button that triggered the modal
            const url = button.getAttribute('data-url'); // Extract URL from data-url attribute
            const form = document.getElementById('favorisForm');
            form.setAttribute('action', url); // Update the form's action attribute
        });
    });
    function showConfirmModal(element){
        const displayNameModel = document.getElementById('favoris-name').innerHTML = element.dataset.favorisName
     }
</script>

{% endblock %}
