{% extends "../../../base.html" %}
{% load custom_filters %}
{% block title %}
    Demande Conge
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Demande de Congé</h2>
        
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                
        <div class="mb-3">
            <label for="id_code_conge" class="form-label">Code Congé</label>
            {{ form.code_conge|add_class:"form-control" }}
        </div>

        
        <div class="mb-3">
            <label for="id_date_debut" class="form-label">Date de Début</label>
            {{ form.date_debut|add_class:"form-control" }}
        </div>

      
        <div class="mb-3">
            <label for="id_date_fin" class="form-label">Date de Fin</label>
            {{ form.date_fin|add_class:"form-control" }}
        </div>
            </div>

            
                <a href="{% url 'employePage' %}" class="btn btn-secondary">Annuler</a>
                <input type="submit" value="Demande" class="btn btn-primary">
            
        </form>
    </div>
{% endblock %}
