{% extends "../../../base.html" %}
{% load custom_filters %}

{% block title %}
    Demande Conge
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Demande de Congé</h2>
        
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
            {% for message in messages %}
        {% with message as _ %} 
        {% endwith %}
    {% endfor %}
        {% endif %}

        <form method="post" class="card mt-4 container mx-auto p-lg-4">
            {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                <div class="mb-4">
                    <label class="form-label fw-bold">Type Conge</label>
                    {{form.code_conge|add_class:"form-control p-2"}}
                </div>
                <div class="row gap-lg-5">
                    <div class="mb-4 col">
                        <label class="form-label fw-bold">Date Debut De Conge</label>
                        {{form.date_debut|add_class:"form-control p-2"}}
                    </div>
                    <div class="mb-4 col">
                        <label class="form-label fw-bold">Date Fin De Conge</label>
                        {{form.date_fin|add_class:"form-control p-2"}}
                    </div>
                </div>
                
            
                <div class="row gap-lg-5">
                    <a href="{% url 'employePage' %}" class="btn btn-secondary col ">Annuler</a>
                    <input type="submit" value="Demande" class="btn btn-primary col">
                </div>
            
        </form>
    </div>
{% endblock %}
