{% extends "../../../base.html" %}

{% block title %}
Approve Conge
{% endblock %}


{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4 text-primary">Approve le Congé</h2>

    <form method="post" class="p-4 border rounded shadow-sm bg-light">
  

        {% csrf_token %}

        <div class="d-flex justify-content-center mt-3">

        <button type="submit" class="btn btn-primary">Approve</button>
    </div>

    </form>

    <!-- Back to List Link -->
    <a href="{% url 'listeCongeEmploye' %}" style="d-block text-center mt-3 text-decoration-none">Retour à la liste des congés</a>

    {% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% for message in messages %}
        {% with message as _ %} 
        {% endwith %}
    {% endfor %}
{% endif %}
</div>
{%endblock%}