{% extends "../../../base.html" %}

{% block title %}
Approve Conge
{% endblock %}


{% block content %}

<h1>Termner le Congé</h1>
<form method="post">
    {% csrf_token %}
    <button type="submit">Termine Conge</button>
</form>
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<a href="{% url 'listeCongeEmploye' %}" style="display: block; margin-top: 10px;">Retour à la liste des congés</a>
{%endblock%}