{% extends "../../../base.html" %}

{% block title %}
Approve Conge
{% endblock %}


{% block content %}

<h1 class="text-primary text-center my-4">Terminer le Congé</h1>
<form method="post" class="p-4 border rounded shadow-sm bg-light">
    {% csrf_token %}
    <div class="d-flex justify-content-center mt-3">

    <button type="submit" class=" btn btn-primary">Termine Conge</button>
    </div>
</form>
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% for message in messages %}
        {% with message as _ %} 
        {% endwith %}
    {% endfor %}
{% endif %}
<a href="{% url 'listeCongeEmploye' %}" style="display: block; margin-top: 10px;">Retour à la liste des congés</a>
{%endblock%}