{% extends "../../../../base.html" %}

{% block title %}
Competence
{% endblock %}


{% block content %}
<div class="container p-3 mt-4 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    Liste des Competences :
  </div>
  <div>
    <a href="{% url 'ajouterCompetence' %}">Ajouter Competence</a>
  </div>
<table border="1px" class="container my-4 table table-sm align-middle">
    <thead class="table-dark">
        <tr>
            <td>Nom Competence</td>
            <td>Description</td>
            <td>Edit</td>
            <td>Supprimer</td>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        {% for competence in competences %}
        <tr>
            <td>{{competence.nom_competence}}</td>
            <td>{{competence.description_competence}}</td>
            <td><a href="{% url 'modifierCompetence' competence.id %}" class="btn btn-success"> Edit </a></td>
            <td><a href="{% url 'supprimerCompetence' competence.id %}" class="btn btn-danger"> Supprimer </a></td>
        </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}