{% extends "../../../../base.html" %}

{% block title %}
Modifier Contrat
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Modifier Contrat</h2>
    <form method="post" class="p-4 border rounded shadow-sm bg-light">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            {{ form.as_p }}
        </div>

        
            <a href="{% url 'listeCompetence' %}" class="btn btn-secondary">Annuler</a>
            <button type="submit" class="btn btn-primary">Modifier</button>
       
    </form>
</div>
{% endblock %}
