{% extends "../../../../base.html" %}

{% block title %}
Supprimer Contrat
{% endblock %}

{% block content %}



<form method="post">
    {% csrf_token %}
    <h1> Êtes-vous sûr de vouloir supprimer ? </h1>
    <p>{{contrat.type_contrat}}</p>
    <p> {{contrat.date_debut_contrat}} </p>
    <p> {{contrat.date_fin_contrat}} </p>
    <p> pour l'employe :{{contrat.code_employe}} </p>
    <a href="{% url 'listeContrat' %}" class="btn btn-outline-primary">Annuler</a>
    <td><a href="{% url 'supprimerContrat' pk=contrat.id %}" class="btn btn-danger">Supprimer</a></td>

</form>
{%endblock%}