{% extends "../../../base.html" %}

{% block title %}
Contrat Detail
{% endblock %}

{% block content %}
<div class="container mt-5">
  {% if contrat.etat == 'non-actif' %}
  <div class="alert alert-warning text-center" role="alert">
    <strong>Attention:</strong> Ce contrat est actuellement <span class="text-uppercase">non-actif</span>.
  </div>
  {% endif %}
  
  <div class="card shadow-sm border-0">
    <div class="card-header bg-primary text-white text-center">
      <h2>Contrat Detail</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Type de Contrat:</strong> {{ contrat.get_type_contrat_display }}</p>
          <p><strong>Date de Début:</strong> {{ contrat.date_debut_contrat }}</p>
          <p><strong>Date de Fin:</strong> {{ contrat.date_fin_contrat }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Salaire:</strong> {{ contrat.salaire }} €</p>
          <p><strong>État:</strong> 
            <span class="badge 
              {% if contrat.etat == 'actif' %}bg-success{% else %}bg-secondary{% endif %}">
              {{ contrat.etat|title }}
            </span>
          </p>
          <p><strong>Employé:</strong> {{ contrat.code_employe.nomE }} {{ contrat.code_employe.prenomE }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
