{% extends "../../../base.html" %}

{% block title %}
Détails du Contrat
{% endblock %}

{% block content %}
<div class="container mt-5">
  <!-- Page Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary">Détails du Contrat</h1>
    <a href="{% url 'listeContrat' %}" class="btn btn-secondary">
      Retour à la Liste
    </a>
  </div>

  <!-- Contract Details -->
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h4 class="card-title text-dark">Informations sur le Contrat</h4>
      <hr>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Type de Contrat:</strong> {{ contrat.get_type_contrat_display }}
        </li>
        <li class="list-group-item">
          <strong>Date de Début:</strong> {{ contrat.date_debut_contrat }}
        </li>
        <li class="list-group-item">
          <strong>Date de Fin:</strong> {{ contrat.date_fin_contrat }}
        </li>
        <li class="list-group-item">
          <strong>Salaire:</strong> {{ contrat.salaire }} €
        </li>
        <li class="list-group-item">
          <strong>État:</strong> {{ contrat.etat }}
        </li>
        <li class="list-group-item">
          <strong>Employé:</strong> {{ contrat.code_employe.nomE }} {{ contrat.code_employe.prenomE }}
        </li>
      </ul>
    </div>
    {% if contrat %}
      <a href="{% url 'export_contrat_pdf_employe' contrat.id %}" class="btn btn-outline-dark mx-2">Télécharger le Contrat PDF</a>
    {% endif %}

  </div>

  </div>
</div>
{% endblock %}
