{% extends "../../base.html" %}
{% load static %}

{% block favoris_drop_menu %}
{% endblock %}

{% block title %}
Home Page
{% endblock %}

{% block side_menu %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Bienvenu dans notre Site Web!</h2>
    <p>This content replaces the default content in the base template.</p>
    <hr style="border: 1px solid #474747; margin: 20px 0;">

    <!-- cards -->
    <h1 class="text-center mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75zM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765M16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516zm-8 3.3 5.693-3.162L0 6.873v6.5Z" />
        </svg>
        offres de travail
    </h1>
    <div class="row">
        {% if offres %}
            {% for offre in offres %}
                <div class="col-md-4 mb-2">
                    <div class="card" style="width: 19rem;">
                        <img src="{% static 'images/offre.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ offre.titre_offre }}</h5>
                            <p class="card-text">{{ offre.description}}</p>
                            <a href="{% url 'offreEmploye_detail' offre.id %}" class="btn btn-dark">Voir details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>pas d'offre d'emploi disponible</p>
        {% endif %}
    </div>
</div>
{% endblock %}
