{% extends "../../../base.html" %}

{% block title %}
Tables
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des tables:</h1>
    <div class="list-group">
        <a href="{% url 'liste_conges'%}" class="list-group-item list-group-item-action">Congé</a>
        <a href="{% url 'listeContrat'%}" class="list-group-item list-group-item-action">Contrat</a>
        <a href="{% url 'listeCompetence'%}" class="list-group-item list-group-item-action">Competence</a>
        <a href="{% url 'listeCandidat'%}" class="list-group-item list-group-item-action">Candidat</a>
        <a href="{% url 'listeObjectif'%}" class="list-group-item list-group-item-action">Objectif</a>
        <a href="{% url 'employe_list'%}" class="list-group-item list-group-item-action">Employe</a>
        <a href="{% url 'service_list'%}" class="list-group-item list-group-item-action">Service</a>
        <a href="{% url 'ListeFormation'%}" class="list-group-item list-group-item-action">Formation</a>
        <a href="{% url 'liste_offre_employe'%}" class="list-group-item list-group-item-action">Offre Emploi</a>
        <a href="{% url 'liste_candidatures'%}" class="list-group-item list-group-item-action">Gestion des candidatures</a>
    </div>
</div>
{% endblock %}
