{% extends "../../../base.html" %}

{% block title %}
Tables
{% endblock %}

{% block content %}
<h1>Liste des tables:</h1>
<ul>
    <li><a href="{% url 'liste_conges'%}">Congé</a></li>
    <li><a href="{% url 'listeContrat'%}">Contrat</a></li>
    <li><a href="{% url 'listeCompetence'%}">Competence</a></li>
    <li><a href="{% url 'listeCandidat'%}">Candidat</a></li>
    <li><a href="{% url 'listeObjectif'%}">Objectif</a></li>
    <li><a href="">Employe</a></li>
    <li><a href="">Service</a></li>
</ul>
{%endblock%}