{% extends "../../../../base.html" %}

{% block title %}
Ajouter Congé
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Créer un Congé</h2>

    <form method="post" class="p-4 border rounded shadow-sm bg-light">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>

    <a href="{% url 'liste_conges' %}" class="d-block text-center mt-3 text-decoration-none">Retour à la liste des congés</a>
</div>
{% endblock %}
