{% extends "../../../../base.html" %}

{% block title %}
Liste Conge
{% endblock %}


{% block content %}
    <h1>Liste des Congés</h1>
    <a href="{% url 'creer_conge' %}">Créer un nouveau congé</a>
    <hr>
    {% if conges %}
        <table border="1px" class="container my-4 table table-sm align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Type de Congé</th>
                    <td>Edit</td>
                    <td>Supprimer</td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for conge in conges %}
                <tr>
                    <td>{{ conge.type_conge }}</td>
                    <td><a href="{% url 'modifier_conge' conge.id %}" class="btn btn-success"> Edit </a></td>
                    <td><a href="{% url 'supprimer_conge' conge.id %}" class="btn btn-danger"> Supprimer </a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    {% else %}
        <p>Aucun congé disponible.</p>
    {% endif %}

{% endblock %}

