{% extends "../../../../base.html" %}

{% block title %}
Ajouter Candidat
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Ajouter Candidat</h1>
    <form method="post" class="bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        
            <a href="{% url 'listeCandidat' %}" class="btn btn-secondary">Annuler</a>
            <input type="submit" value="Ajouter" class="btn btn-primary">
        
    </form>
</div>
{% endblock %}
