{% extends "../../base.html" %}

{% block title %}
Liste_EMP
{% endblock %}

{% block content %}

    
<table class="table table-dark table-striped">
       <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.code_employe }}</td>
                    <td>{{ employe.nomE }} </td>
                    <td>{{ employe.prenomE }}</td>
                    <td>{{ employe.gender }}</td>
                    <td>{{ employe.date_naissance_E }}</td>
                    <td><a href="{% url 'employe_update' employe.code_employe %}" class="btn btn-light" > Update </a></td>
                    <td><a href="{% url 'employe_delete' employe.code_employe %}" class="btn btn-danger"> delete </a></td>
                    <td><a href="{% url 'employe_detail' employe.code_employe %}" class="btn btn-light">View</a></td>
          </tr>
            
            {% endfor %}
          
        </tbody>
    </table>
    <a href="{% url 'employe_create' %}" class="btn btn-light">Add New Employee</a>

{% endblock %}


                        
                       
   
    

