{% extends "../../../../base.html" %}
{% load static %}

{% block title %}
Liste des Candidatures
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<div class="container mt-5">
    <h1 class="text-center">Liste des Candidatures</h1>
    <p class="text-muted text-center">Voici les candidatures soumises pour les offres d'emploi.</p>
    
    <a href="{% url 'planification_entretien_list' %}"
    class="btn btn-primary btn-sm">Voir liste Planification</a>


    <div class="card mt-4">
        <div class="card-body">

            <table border="1px" class="container my-4 table table-sm align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Nom du Candidat</th>
                        <th>Offre d'Emploi</th>
                        <th>Date de Soumission</th>
                        <th>Statut</th>
                        <th>Planifier Entretien</th>
                        <th>Modifier Statut</th>
                        <th>Détails</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidature in candidatures %}
                    <tr>
                        <td>{{ candidature.candidat.nomC }} {{ candidature.candidat.prenomC }}</td>
                        <td>{{ candidature.offre.titre_offre }}</td>
                        <td>{{ candidature.date_soumission|date:"d/m/Y" }}</td>
                        <td> {{ candidature.statut }}</td>


                        <td> <a href="{% url 'planifier_entretien' candidature.id %}"
                                class="btn btn-primary btn-sm">Planifier Entretien</a></td>
                        <td> <a href="{% url 'modifier_statut' candidature.id %}"
                                class="btn btn-warning btn-sm">Modifier Statut</a></td>
                        <td> <a href="{% url 'detail_candidat' candidature.id %}"
                                class="btn btn-secondary btn-sm">Détails</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9">Aucun contrat trouvé.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}