{% extends "../../../../base.html" %}
{% load custom_filters %}
{% block title %}
Create Formation
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Créer une Formation</h2>
    
    <form method="POST" class="card p-4 shadow-sm">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_titre_formation" class="form-label">Titre de la Formation</label>
            {{ form.titre_formation|add_class:"form-control" }}
        </div>
        
        <div class="mb-3">
            <label for="id_description_formation" class="form-label">Description de la Formation</label>
            {{ form.description_formation|add_class:"form-control" }}
        </div>
        
        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-outline-dark mx-2">Sauvegarder</button>
            <a href="{% url 'ListeFormation' %}" class="btn btn-outline-secondary">Retour à la liste</a>
        </div>
    </form>
</div>
{% endblock %}
