{% extends "../../../../base.html" %}

{% block title %}
Liste des Formations
{% endblock %}

{% block content %}
<div class="container p-3 mt-4 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    Liste des Formations :
</div>

<table border="1px" class="container my-4 table table-sm align-middle">
    <thead class="table-dark">
        <tr>
            <td>Titre de la Formation</td>
            <td>Modifier</td>
            <td>Supprimer</td>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        {% for formation in formations %}
        <tr>
            <td>{{ formation.titre_formation }}</td>
            <td><a href="{% url 'update_f' formation.pk %}" class="btn btn-success">Modifier</a></td>
            <td><a href="{% url 'delete_f' formation.pk %}" class="btn btn-danger">Supprimer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'add_f' %}" class="btn btn-outline-dark">Ajouter formation</a>

{% endblock %}
