{% extends "../../base.html" %}

{% block title %}
Fonctionnalites List
{% endblock %}

{% block content %}
<div class="container p-3 mt-4 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    Liste des Fonctionnalites :
</div>
<table border="1px" class="container my-4 table table-sm align-middle">
    <thead class="table-dark">
    <tr>
        <th>Name</th>
        <th>Path</th>
        <th>supprimer</th>
        <th>ajouter favoris</th>
        <th>supprimer favoris</th>
    </tr>
</thead>
    {% for item in fonctionnalites %}
    <tr>
        <td>{{ item.name_Fonctionnalite }}</td>
        <td>{{ item.path_fonctionnalite }}</td>
        <td>
            <a href="{% url 'supprimer_fonctionnalite' item.id %} " class="btn btn-danger">Delete</a>
        </td>
        <td>
            <form method="post" action="{% url 'ajouterAuxFavoris' item.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add to Favoris</button>
            </form>
        </td>
        <td>
            <form method="post" action="{% url 'supprimerDesFavoris' item.id %}">
                {% csrf_token %}
                <button type="submit"  class="btn btn-outline-danger">Remove from Favoris</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'ajouter_fonctionnalite' %}" class="btn btn-outline-dark">Add New Fonctionnalite</a>
{% endblock %}
