{% extends "../base.html" %}

{% block title %}
Login
{% endblock %}

{% block navBar %}

{% endblock %}
{% block content %}

<div class="bg-dark  vh-100 d-flex justify-content-end ">
    <div class="bg-light w-50 d-flex justify-content-center align-items-center">
<form method="POST" action="">
    <h1>Login</h1>
    {% csrf_token %}
    <!-- username -->
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="addon-wrapping">
        {% if form.username.errors %}
        <ul class="text-danger">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- password -->
    <div class="mb-3">
        <label for="InputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        {% if form.password1.errors %}
        <ul class="text-danger">
            {% for error in form.password1.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <input class="submit btn btn-outline-dark btn-lg mt-4" type="submit" value="Login">
    {% if messages %}
    <ul class="mt-3">
        {% for message in messages %}
        <p class="alert alert-info">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
</form>
</div>
</div>

{% endblock %}