{% extends "../../../base.html" %}
{% load custom_filters %}
{% block title %}
Ajouter Prime
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Créer une Prime</h2>
    
    <!-- Form for adding a Prime -->
    <form method="post" class="p-4 border rounded shadow-sm bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_code_employe" class="form-label">Code Employé</label>
            {{ form.code_employe|add_class:"form-control" }}
        </div>

        
        <div class="mb-3">
            <label for="id_prime_montant" class="form-label">Montant de la Prime</label>
            {{ form.prime_montant|add_class:"form-control" }}
        </div>
        
        <!-- Submit Button -->
        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>

    <!-- Back to list link -->
    <a href="{% url 'liste_primes' %}" class="d-block text-center mt-3 text-decoration-none">Retour à la liste des primes</a>
</div>
{% endblock %}
